kind: Ingress
metadata:
  name: kube-dashboard
  namespace: kubernetes-dashboard
  annotations:
    nginx.ingress.kubernetes.io/tls-passthrough: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
spec:
  ingressClassName: nginx
  rules:
  - host: "kube-dashboard.sope.com"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: my-dashboard-kong-proxy
            port:
              number: 443